token
infrastructure/kubeconfig*
# OpenTofu files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
db-password.txt
scripts/ca.pem
scripts/cloudflare-config.txt
scripts/db-password.txt
scripts/kubeconfig*